In [134]:
import plotly.plotly as py
from plotly.graph_objs import *
import numpy as np
import plotly.figure_factory as ff
import pandas as pd

In [135]:
df = pd.read_csv('/Users/katiebrennan/Documents'+
                 '/UW/CSE583/uwseds-group-nw-climate-crew'+
                 '/futurefish/data/tiny_site_test_dataset.csv')
df.head()

  Site ID       Basin   Latitude   Longitude  Viability
0     ALB  Willamette  44.633300 -123.100000          4
1     BRI    Kootenay  49.324444 -117.620278          4
2     COR    Kootenay  49.466944 -117.466944          3
3     DCD    Kootenay  50.266667 -116.946389          2
4     LIB    Kootenay  48.411700 -115.309400          2

In [136]:
api_key = "AIzaSyDwVY_IYQpVEbUWG2B90Q8Kp5fVfLoFsQ4"
mapbox_access_token = 'pk.eyJ1IjoibWticmVubmFuIiwiYSI6ImNqYW12OGxjYjM1MXUzM28yMXhpdWE3NW0ifQ.EljNVtky3qEFfvJL80RgMQ'

In [137]:
scl = [[0, 'rgb(0, 102, 0)'],[0.2, 'rgb(0, 102, 0)'],\
       [0.2, 'rgb(128, 255, 0)'], [0.4, 'rgb(128, 255, 0)'],\
       [0.4, 'rgb(255, 255, 51)'], [0.6, 'rgb(255, 255, 51)'],\
       [0.6, 'rgb(255, 153, 51)'], [0.8, 'rgb(255, 153, 51)'],\
       [0.8, 'rgb(255, 6, 6)'], [1.0, 'rgb(255, 6, 6)']]

In [138]:

basin = pd.DataFrame(df['Basin'])
basin_list = pd.DataFrame.drop_duplicates(basin)
basin_list

             Basin
0       Willamette
1         Kootenay
5            Libby
6   Lower Columbia
17     Lower Snake

In [139]:
data = Data([
    Scattermapbox(
        lon = df['Longitude'],
        lat = df['Latitude'],
        mode='markers',
        marker=Marker(
            size=8,
            symbol='circle',
            colorscale = scl,
            cmin = 1,
            color = df['Viability'],
            cmax = df['Viability'].max(),
            colorbar=dict(
                title="Viability of Salmon Life",
                tick0= 0,
                dtick= 1
            ),
        ),
    )
])

In [140]:
layout = dict(
    height = 500,
    width = 700,
    margin = dict( t=0, b=0, l=0, r=0 ),
    font = dict( color='#FFFFFF', size=11 ),
    #paper_bgcolor = '#000000',
    paper_bgcolor = '#50667f',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=46,
            lon=-119
        ),
        pitch=0,
        zoom=4.5,
        style='light'
    ),
)

In [141]:
# updatemenus=list([
#     dict(
#         buttons = basin_list[0:4],
#         pad = {'r': 0, 't': 10},
#         x = 0.1,
#         xanchor = 'left',
#         y = 1.0,
#         yanchor = 'top',
#         bgcolor = 'AAAAAA',
#         active = 99,
#         bordercolor = '#FFFFFF',
#         font = dict(size=11, color='#000000')
#     )       
# ])

In [142]:
# annotations = list([
#     dict(text='All US wind turbines (scroll to zoom)', font=dict(color='magenta',size=14), borderpad=10, 
#          x=0.05, y=0.05, xref='page', yref='page', align='left', showarrow=False, bgcolor='black'),
#     dict(text='Wind<br>Farms', x=0.01, y=0.99, yref='paper', align='left', showarrow=False,font=dict(size=14))
# ])

In [143]:
#layout['updatemenus'] = updatemenus

In [144]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename='basin')