In [2]:
import plotly.plotly as py
from plotly.graph_objs import *
import numpy as np
import pandas as pd

# Creating interactive graph

### Goal: 
#### Import a csv file output from data_processing.py and output a graph with colored points at different site locations.

##### Import a test file in the correct file format to visualize.

In [3]:
df = pd.read_csv('/Users/katiebrennan/Documents'+
                 '/UW/CSE583/uwseds-group-nw-climate-crew'+
                 '/futurefish/data/tiny_site_test_dataset.csv')
df.head()

  Site ID       Basin   Latitude   Longitude  Viability Species     Decade
0     ALB  Willamette  44.633300 -123.100000          4       A  2030-2059
1     BRI    Kootenay  49.324444 -117.620278          4       A  2030-2059
2     COR    Kootenay  49.466944 -117.466944          3       A  2030-2059
3     DCD    Kootenay  50.266667 -116.946389          2       A  2030-2059
4     LIB    Kootenay  48.411700 -115.309400          2       A  2030-2059

##### Access code needed for using mapbox

In [4]:
mapbox_access_token = 'pk.eyJ1IjoibWticmVubmFuIiwiYSI6ImNqYW12OGxjYjM1MXUzM28yMXhpdWE3NW0ifQ.EljNVtky3qEFfvJL80RgMQ'

##### Creating the street light color bar that indicates fish viability.

In [5]:
scl = [[0, 'rgb(0, 102, 0)'],[0.2, 'rgb(0, 102, 0)'],\
       [0.2, 'rgb(128, 255, 0)'], [0.4, 'rgb(128, 255, 0)'],\
       [0.4, 'rgb(255, 255, 51)'], [0.6, 'rgb(255, 255, 51)'],\
       [0.6, 'rgb(255, 153, 51)'], [0.8, 'rgb(255, 153, 51)'],\
       [0.8, 'rgb(255, 6, 6)'], [1.0, 'rgb(255, 6, 6)']]

##### Input the data to be visualized and in what format it should appear in:

In [6]:
all_data = Scattermapbox(
        lon = df['Longitude'],
        lat = df['Latitude'],
        mode='markers',
        marker=Marker(
            size=8,
            symbol='circle',
            colorscale = scl,
            cmin = 1,
            color = df['Viability'],
            cmax = df['Viability'].max(),
            colorbar=dict(
                title="Viability of Salmon Life",
                titleside = 'top',
                tickmode = 'array',
                tickvals = [1.3,2.2,3.0,3.8,4.5],
                ticktext = ['Great','Good','Mmm?','Nope','Yikes!'],
                ticks = 'outside'    
            ),
        ),
    )

In [7]:
data = Data([all_data])

##### Setup the layout of the map:

In [8]:
layout = dict(
    height = 500,
    width = 700,
    margin = dict( t=0, b=0, l=0, r=0 ),
    font = dict( color='#FFFFFF', size=11 ),
    paper_bgcolor = '#000000',
    #paper_bgcolor = '#50667f',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=46,
            lon=-119
        ),
        pitch=0,
        zoom=4.5,
        style='light'
    ),
)

In [9]:
figure = dict(data=data, layout=layout)

### Final map: 
##### This is the format of the map to be input into the dash web app framework.

In [10]:
py.iplot(figure, filename='basin')