In [71]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd

In [72]:
df = pd.read_csv('/Users/katiebrennan/Documents'+
                 '/UW/CSE583/uwseds-group-nw-climate-crew'+
                 '/futurefish/data/tiny_site_test_dataset.csv')
df.head()

  Site ID       Basin   Latitude   Longitude  Viability
0     ALB  Willamette  44.633300 -123.100000          4
1     BRI    Kootenay  49.324444 -117.620278          4
2     COR    Kootenay  49.466944 -117.466944          3
3     DCD    Kootenay  50.266667 -116.946389          2
4     LIB    Kootenay  48.411700 -115.309400          2

25    5
26    1
27    4
28    1
29    1
Name: Viability, dtype: int64

In [147]:
scl = [[0, 'rgb(0, 102, 0)'],[0.2, 'rgb(0, 102, 0)'],\
       [0.2, 'rgb(128, 255, 0)'], [0.4, 'rgb(128, 255, 0)'],\
       [0.4, 'rgb(255, 255, 51)'], [0.6, 'rgb(255, 255, 51)'],\
       [0.6, 'rgb(255, 153, 51)'], [0.8, 'rgb(255, 153, 51)'],\
       [0.8, 'rgb(255, 6, 6)'], [1.0, 'rgb(255, 6, 6)']]

In [ ]:
    'colorbar': {
        'tick0': 0,
        'dtick': 1
    }

In [196]:
data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['Longitude'],
        lat = df['Latitude'],
        basin = df['Basin'],
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'circle',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 1,
            color = df['Viability'],
            cmax = df['Viability'].max(),
            colorbar=dict(
                title="Viability of Salmon Life",
                tick0= 0,
                dtick= 1
            ),
            text=df['Basin']
        ))]

In [197]:
layout = dict(
        title = 'Salmon Viability<br>(Hover for basin name)',
        colorbar = True,
        geo = dict(
            scope='north america',
            projection=dict( type='conic conformal' ),
            showland = True,
            landcolor = "rgb(212, 212, 212)",
            subunitcolor = "rgb(255, 255, 255)",
            countrycolor = "rgb(255, 255, 255)",
            countrywidth = 0.5,
            subunitwidth = 0.5,
            resolution=50,
            lonaxis = dict( range= [ -126.0, -110.0 ] ),
            lataxis = dict( range= [ 42.0, 51.0 ] ),
        ),
    )

In [198]:
fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False, filename='Basin' )